<p>fooddelete works!</p>


<header role="banner">
    <h1>Admin Panel</h1>
    <ul class="utilities">
      <br>
      <li class="users"><a href="#">My Account</a></li>
      <li class="logout warn"><a href="">Log Out</a></li>
    </ul>
  </header>
  
  <nav role='navigation'>
  </nav>
  
  <main role="main">
    
    <section class="panel important">
      <h2>Quan ly danh sach thuc an</h2>
      <ul>
        <li>Chi danh cho quan tri vien</li>
      </ul>
    </section>
    <section class="panel important">
        <h2>Edit food</h2>

        <div>
            <input type="submit" name="submit" value="Delete" (click)="delete()" />
            <input type="submit" name="submit" value="Cancel" routerLink="/home/">
        </div>
    </section>
  
  </main>