<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<header role="banner">
    <h1>Admin Panel</h1>
    <ul class="utilities">
        <br>
        <li class="users"><a href="#">My Account</a></li>
        <li class="logout warn"><a href="">Log Out</a></li>
    </ul>
</header>

<nav role='navigation'>
    <ul class="main">
    </ul>
</nav>

<main role="main">
    <section class="panel important">
        <h1>Danh sách thức ăn nhà hàng</h1>

        <div>
            <table class="table table-hover table-responsive-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th [class.active]="order === 'id'" (click)="setOrder('id')" scope="col">
                            ID <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'name'" (click)="setOrder('name')"
                            class="mdl-data-table__cell--non-numeric " scope="col xl">
                            Tên <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'price'" (click)="setOrder('price')" scope="col">
                            Giá <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'rate'" (click)="setOrder('rate')" scope="col">
                            Rate <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col">Lựa chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of listfood | orderBy: order reverse:'case-insensitive'">
                        <td scope="row">{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.rate }}</td>
                        <td class="action">
                            <button class="btn" routerLink="/view/{{row.id}}"><i i-bs name="alarm-fill"></i></button>
                            <button class="btn"><i i-bs name="hammer" routerLink="/update/{{row.id}}"></i></button>
                            <button class="btn"><i i-bs name="clipboard-minus" routerLink="/delete/{{row.id}}"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- <div *ngIf="currentcomp==='addfood'"><app-foodadd></app-foodadd></div> -->


</main>