<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


<router-outlet></router-outlet>

<header role="banner">
    <h1>Admin Panel</h1>
    <ul class="utilities">
      <br>
      <li class="users"><a href="#">My Account</a></li>
      <li class="logout warn"><a href="">Log Out</a></li>
    </ul>
  </header>
  
  <nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="admindashboard"  routerLink="/home/">Danh Sach do an</a></li>
      <li class="write"><a href="#"  routerLink="/add/">Add food</a></li>
      <li class="comments"><a href="#">Dashboard</a></li>
      <li class="users"><a href="#">Manage Users</a></li>
    </ul>
  </nav>
  
  <main role="main">
    
    <section class="panel important">
      <h2>Quan ly danh sach thuc an</h2>
      <ul>
        <li>Chi danh cho quan tri vien</li>
      </ul>
    </section>
    <!-- <section class="panel important"><app-foodlist></app-foodlist></section> -->
    <!-- <div *ngIf="currentcomp==='addfood'"><app-foodadd></app-foodadd></div> -->
    
  
  </main>
  