<div class="main-content row">
  <form cForm class="row" [formGroup]="formGroup">
    <div class="col-8 row g-3 bg-white rounded m-3 p-3">
      <c-col [md]="6">
        <label cLabel for="inputEmail4">Tên tác phẩm</label>
        <input cFormControl id="inputEmail4" type="text" formControlName="titile" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputPassword4">Mã sản phẩm </label>
        <input cFormControl id="inputPassword4" type="text" formControlName="isbn13" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputEmail4">Tác giả</label>
        <input cFormControl type="text"  formControlName="author" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputPassword4">NXB </label>
        <input cFormControl type="text" formControlName="publisher" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputEmail4">Ngôn ngữ</label>
        <input cFormControl type="text" formControlName="language" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputPassword4">Phân loại </label>
        <input cFormControl type="text" formControlName="catalogue" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputEmail4">Giá</label>
        <input cFormControl type="text" formControlName="price" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputPassword4">Tồn kho </label>
        <input cFormControl type="text" formControlName="stock" [attr.disabled]=false />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputCity">Ngày ra mắt</label>
        <input cFormControl id="inputCity" formControlName="publication_date" [attr.disabled]=false />
      </c-col>
      <c-col [md]="2">
        <label cLabel for="inputZip">Số trang</label>
        <input cFormControl id="inputZip" formControlName="nume_page" [attr.disabled]=false />
      </c-col>
    </div>
    <div class="col-3 row g-3 bg-white rounded p-1">
      <img src={{product?.img}} alt="..." style="max-height: 400px" class="img-thumbnail img-fluid"/>
      <div class="d-flex justify-content-center m-1">
        {{product?.title}}
      </div>
    </div>
  </form>
</div>
